body {
  background-color: palevioletred;
  margin-left: 20px;
  margin-right: 20px;
}

.header-estilo a {
  color: peachpuff;
  font-weight: 500;
  font-size: larger;
}

.header-estilo {
  height: 100px;
}

.header-estilo a:hover {
  color: plum;
}

.card-estilo {
  background-color: rgba(253, 50, 118, 0.708);
  border-style: none;
  margin-bottom: 60px;
}

.card-estilo h2 {
  text-align: center;
  font-weight: 500;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
  color: peachpuff;
}

.card-estilo p {
  color: white;
  text-align: center;
  border: 3px;
}

.card-estilo a {
    background-color: plum;
    color: white;
    font-weight: 700;
    text-align: center;
  }

  .card-estilo a:hover {
    color: white;
    box-shadow: 0 0 5px white;
  }

.footer-estilo {
  background-color: peachpuff;
  color: palevioletred;
}